<%- include("headerFirst") -%>

    <main>
  

  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="" width="150" height="100">
    <h1 class="display-5 fw-bold">CRUD App</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This CRUD app is developed using Node js, express, ejs, Sequelize, and postgres database.</p>
 
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a href="/signin" style="text-decoration: none; color: white;">Sign In</a></button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="/signup" style="text-decoration: none;;">Sign Up</a></button>
      </div>
    </div>
  </div>

 
</main>


<%- include("footer") -%>